---
layout: default
---

    <!-- content
    ================================================== -->
    <section id="content" class="s-content target-section">

      <div class="s-content__section s-content__section--profile">

          <div class="right-vert-line"></div>

          <div class="row">
              <div class="column">

                  <div class="section-intro" data-aos="fade-up">
                      <h3 class="subhead">{{ page.title | escape }}</h3>
                      <h1 class="display-1">{{ page.title | escape }}</h1>
                  </div>

                  <p data-aos="fade-up">
                    {{ content }}
                  </p>

              </div>
          </div>

      </div> <!-- end s-about__section--profile -->
  </section>